<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<!-- Data Source -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<!-- JDBC 드라이버 클래스명의 설정-->
		<property name="driverClassName">
			<value>oracle.jdbc.OracleDriver</value>
		</property>
		<!-- JDBC 접속 문자열 설정 -->
		<property name="url">
			<value>jdbc:oracle:thin:@localhost:1521:xe
			</value>
		</property>
		<!-- Oracle 유저ID 설정-->
		<property name="username">
			<value>admin</value>
		</property>
		<!-- Oracle 패스워드 설정-->
		<property name="password">
			<value>admin</value>
		</property>
	</bean>
	
<!-- 	<bean  id="sqlMapClient" -->
<!--                 class="org.springframework.orm.ibatis.SqlMapClientFactoryBean" -->
<!--                 p:dataSource-ref="dataSource" -->
<!--                 p:configLocation="WEB-INF/src/sqlMapConfig.xml"   />	 -->

	<!-- Member -->
	<bean id="memberService" class="logic.MemberImpl">
	   <property name="dataSource">
	    <ref bean="dataSource" />
	   </property>
	</bean>
	
	<!-- 자료실 과 ibatis 연동 -->
	<bean id="bbsService" class="dao.BbsDao">	
		<property name="dataSource">
		    <ref bean="dataSource" />
		  </property>
	</bean> 

	<!-- Validator   -->
	<bean id="loginValidator" class="utils.LoginValidator" /> 
   <!-- utils 패키지의  LoginValidator 클래스는 로그인 유효성 검증-->
   
	<!-- MessageSource -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>messages</value>
			</list>
		</property>
	</bean>
	<!--  리소스 번들은 value속성값에 지정된 messages.properties 파일
	로드 하는 부분.value값인 messages가 프로퍼티 파일이름이 된다. 프로퍼티 파일
	배치 경로는 WEB-INF/src 경로를 클래스 패스 상 경로라 한다.바로 이 경로에
	넣어두면 프로퍼티 파일이 자동 빌더 되어져서 WEB-INF/classes 경로로 
	들어간다.-->
</beans>